@import "./assets/sacss/variables/reset";
.mt-1{
    margin-top: 3%;
}
.mt-2{
    margin-top: 6%;
}
.mt-3{
    margin-top: 9%;
}
.mt-4{
    margin-top: 12%;
}

body{
    //background: radial-gradient(circle at 39% 47%,rgba(107,107,107,.08) 0,rgba(107,107,107,.08) 33.333%,rgba(72,72,72,.08) 33.333%,rgba(72,72,72,.08) 66.666%,rgba(36,36,36,.08) 66.666%,rgba(36,36,36,.08) 99.999%),radial-gradient(circle at 53% 74%,rgba(182,182,182,.08) 0,rgba(182,182,182,.08) 33.333%,rgba(202,202,202,.08) 33.333%,rgba(202,202,202,.08) 66.666%,rgba(221,221,221,.08) 66.666%,rgba(221,221,221,.08) 99.999%),radial-gradient(circle at 14% 98%,rgba(184,184,184,.08) 0,rgba(184,184,184,.08) 33.333%,rgba(96,96,96,.08) 33.333%,rgba(96,96,96,.08) 66.666%,rgba(7,7,7,.08) 66.666%,rgba(7,7,7,.08) 99.999%),linear-gradient(45deg,#2f64b1,#3b7ddd);
}